.wrapper-header {
	height: 10vh;
	background-color: var(--primary-color);
	color: #fff;
	display: flex;
	padding-top: 1.5rem;
	padding-right: 1.5rem;
	flex-flow: column nowrap;
	align-items: flex-end;

	&__title {
		font-size: 30px;
	}

	&__text {
		font-size: 22px;
	}
}
