:root {
	--primary-color: #222222;
	--nav-color: #6952ce;
	--text-color: #aff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 62.5%;
}

.wrapper {
	display: flex;
	flex-flow: column;
	font-family: "Montserrat", sans-serif;
	height: 100vh;
}
