.wrapper-nav {
	height: 5vh;
	display: flex;
	flex-flow: row;
	margin-bottom: 4vh;

	&__link {
		flex: 1;
		text-align: center;
		padding-top: 1rem;
		padding-bottom: 3rem;
		text-decoration: none;
		background-color: var(--primary-color);
		border-top: 2px solid var(--text-color);
		color: var(--text-color);
		font-size: 18px;
		font-weight: 500;
		border-bottom: 7px solid var(--primary-color);
	}

	.active {
		border-bottom: 7px solid var(--text-color);
	}

	@media (min-width: 500px) {
		&__link {
			padding-bottom: 2rem;
		}
	}
}
